<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

        <!-- console appender. not used by default -->
        <appender name="console" class="org.apache.log4j.ConsoleAppender">
            <layout class="org.apache.log4j.PatternLayout">
				<param name="ConversionPattern" value="[%d] %5p %c~~%m%n" />
            </layout>
        </appender>
		
        <appender name="socket" class="org.apache.log4j.net.SocketAppender">
			<param name="Port" value="9998" />
			<param name="RemoteHost" value="uf" />
			<layout class="org.apache.log4j.PatternLayout">
				<param name="ConversionPattern" value="[%d] %5p %c~~%m%n" />
			</layout>
        </appender>	
		
        <!-- root logger. Default -->
        <root>
            <priority value="debug"/>
            <appender-ref ref="console"/>
            <appender-ref ref="socket"/>
        </root>
</log4j:configuration>